body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 10px 0 11px;
  letter-spacing: 1.7px;
}
.header-navbar {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.header-logo__img img {
  vertical-align: bottom;
}
.header-navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-navbar-list__logo img {
  vertical-align: bottom;
}
.header-link__items {
  margin-right: 36px;
  color: #212a2f;
  text-decoration: none;
  padding: 3px;
}
.header-link__items:last-child {
  margin: 0;
}

.header-navbar-items__link {
  margin-right: 39px;
  text-decoration: none;
  color: #212a2f;
  padding: 3px;
}
.header-navbar-items__link:last-child {
  margin: 0;
}
.header-navbar-list {
  margin-left: 21px;
}
.header-navbar-link {
  margin-right: 27px;
}
.header-navbar-link:last-child {
  margin: 0;
}

.background {
  background-image: url(../images/Background-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  padding-bottom: 50px;
  height: 740px;
}
.box-wrap-text__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 63px;
  color: white;
  margin: 0 0 11px;
}
.box-wrap__description {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  max-width: 333px;
  margin-bottom: 24px;
  color: white;
}
.box-wrap {
  position: relative;
  z-index: 1;
  top: 100%;
  width: 100%;
  transform: translateY(-100%);
  /* top: 504px задано ; по макету идеально подходит,если не ужимать бэкграунд */
}
.button {
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #212a2f;
  padding: 17px 45px;
  text-align: center;
  margin-right: 24px;
  border-radius: 2px;
  letter-spacing: 2px;
  cursor: pointer;
}

.button:last-child {
  margin: 0;
  padding: 17px 32px;
}
