.footer {
  background-color: #212a2f;
  padding-top: 72px;
  padding-bottom: 90px;
}
.footer-box {
  display: flex;
  margin-bottom: 85px;
  max-width: 70%;
}
.footer-column {
  margin-right: 160px;
  padding: 6px;
}
.footer-column:last-child {
  margin: 0;
}
.footer__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 21px;
}
.footer-column-list__link {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}
.footer-column-list__link a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
}
.footer-column-list :last-child {
  margin: 0;
}
.footer-description-wrap {
  max-width: 293px;
  padding: 5px;
}
.footer-description-info__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
}
.footer-box-description {
  display: flex;
}
.footer-logo__items {
  margin-right: 24px;
}
.footer-logo__items:last-child {
  margin: 0;
}
.footer-logo__item img {
  vertical-align: bottom;
}
.footer-box-description {
  justify-content: space-between;
  margin-bottom: 129px;
}
.footer-pharagraph {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  letter-spacing: 0.5px;
}

@media (max-width: 820px) {
  .footer-box {
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .footer-column {
    margin-top: 0;
    margin-right: 30px;
  }
}
@media (max-width: 600px) {
  .footer-box {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .footer-column {
    margin: auto;
  }
  .footer-box-description {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}
@media (max-width: 399px) {
  .footer-column {
    padding: 5px;
    margin-bottom: 10px;
  }
}
@media (max-width: 424px) {
  .footer-logo__item {
    padding: 5px;
    margin: 10px 0;
  }
}
