.section-shop {
  padding-top: 52px;
  padding-bottom: 158px;
}
.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #212a2f;
  text-align: center;
}
.shop__title {
  margin-bottom: 54px;
}

.shop__text--color {
  color: #212a2f;
  text-align: center;
}

.buttons__wrap {
  margin-top: 30px;
  margin-bottom: 119px;
  display: flex;
  justify-content: center;
}
.buttons__wrap button {
  background-color: #212a2f;
  color: white;
}

.subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 24px;
}
.box-image {
  margin-bottom: 17px;
}

.box__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  color: #212a2f;
}
.box__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #212a2f;
}
.box-desc {
  padding-left: 15px;
  max-width: 357px;
}
.box-wrap {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.box-item {
  width: 33%;
}
.box__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 800px) {
  .box-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 550px) {
  .box__img {
    border-radius: 10px;
  }
}
@media (max-width: 550px) {
  .box-item {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media (max-width: 900px) {
  .subtitle {
    text-align: center;
  }
}
