.slide__image {
  width: 570px;
  height: 350px;
  object-fit: cover;
  float: left;
}
@media (max-width: 900px) {
  .slide__image {
    max-width: 435px;
    height: 320px;
    object-fit: cover;
  }
  @media (max-width: 800px) {
    .slide__image {
      max-width: 100%;
      height: 310px;
      object-fit: cover;
    }
  }
}
.slide__content {
  max-width: 570px;
  height: 350px;
  background-color: #5c3249;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 900px) {
  .slide__content {
    height: 320px;
  }
}
@media (max-width: 800px) {
  .slide__content {
    height: 310px;
  }
}

.slide__desc {
  font-weight: 400;
  font-size: 34px;
  line-height: 47px;
  font-family: 'Cardo', serif;
  width: 80%;
  color: white;
  margin: auto;
  text-transform: capitalize;

  margin-bottom: 15px;
}
@media (max-width: 1024px) {
  .slide__desc {
    font-size: 24px;
    line-height: 32px;
  }
}
.slide__info {
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: white;
  display: block;
  width: 80%;
  display: flex;
  margin-left: 55px;
}
@media (max-width: 1024px) {
  .slide__info {
    font-size: 12px;
    line-height: 14px;
    margin-left: 45px;
  }
}
.slider-content {
  padding-bottom: 114px;
}

@media (max-width: 500px) {
  .slider-content {
    padding-bottom: 45px;
  }
}
.slider__info__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 15px;
}
@media (max-width: 1024px) {
  .slider__info__title {
    font-size: 24px;
    line-height: 28px;
  }
}
.slider__info__desc {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  .slider__info__desc {
    font-size: 14px;
    line-height: 16px;
  }
}

.slider-info {
  margin-top: 114px;
}
@media (max-width: 1024px) {
  .slider-info {
    margin-top: 77px;
  }
}
@media (max-width: 700px) {
  .slider-info {
    margin-top: 0;
  }
}
.swiper {
  max-width: 1170px;
  height: 400px;
}
@media (max-width: 800px) {
  .swiper {
    max-width: 800px;
    height: 370px;
  }
}
@media (max-width: 700px) {
  .swiper {
    display: none;
  }
}

@media (max-width: 900px) {
  .swiper-slide {
    max-width: 900px;
    height: 320px;
  }
}
@media (max-width: 800px) {
  .swiper-slide {
    max-width: 800px;
    height: 320px;
  }
}

.swiper .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: #5c3249;
  line-height: 14px;
}
.swiper .swiper-pagination {
  bottom: 0;
}
.swiper-pagination-bullet-horizontal {
  gap: 10px;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 16px);
}
